* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: hsl(225, 100%, 94%);
    background-image: url("./images/pattern-background-desktop.svg");
}

p {
    font-size: 1.6rem;
    color: gray;
}

.card {
    outline: 1px solid black;
    width: 30%;
    margin: auto;
    border-radius: 12px;
    overflow: hidden;
    background-color: #ffffff;
}

.hero-image-container {
    max-width: 100%
}

.hero-image {
    width: 100%;
}

.content-container {
    width: 90%;
    margin: auto;
    padding: 3.5rem;
}

.top {
    text-align: center;
    margin-bottom: 1rem;
}

.title {
    padding-bottom: 1.5rem;
    font-weight: 900;
}

.description {
    max-width: 98%;
    margin: auto;
}

.bottom {

}

.plan-type {
    background-color: hsl(225, 100%, 98%);
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: 12px;
    margin-bottom: 1rem;
}

.left-side {
    display: flex;
    gap: 1rem;
}

.left-side h2 {
    margin-bottom: .2rem;
}

.right-side {
    align-self: center;
}

.change {
    font-size: 1.6rem;
    font-weight: 700;
}

.music-icon-image-container {
    
}

.music-icon-image {
    max-width: 100%;
}

.text {
    
}

.text h2 {
    font-weight: 900;
}

button {
    display: block;
    width: 100%;
    padding: 1.5rem;
    background-color:  hsl(245, 75%, 52%);
    border: none;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 2rem;
}

.cancel {
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 700;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    font-size: 1.6rem;
}